@mixin box-shadow($top, $left, $blur, $offset, $color , $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $offset $color;
    -moz-box-shadow:inset $top $left $blur $offset $color;
    box-shadow:inset $top $left $blur $offset $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $offset $color;
    -moz-box-shadow: $top $left $blur $offset $color;
    box-shadow: $top $left $blur $offset $color;
  }
}

@mixin nice-shadow() {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin gradient($from, $to) {
  background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background: -moz-linear-gradient(top,  $from, $to);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}

// @mixin vertical-align-parent {
//   -webkit-transform-style: preserve-3d;
//   -moz-transform-style: preserve-3d;
//   transform-style: preserve-3d;
// }

// @mixin vertical-align {
//   position: relative;
//   top: 50%;
//   -webkit-transform: translateY(-50%);
//   -ms-transform: translateY(-50%);
//   transform: translateY(-50%);
// }