@import "reset";
@import "bourbon";
@import "neat";
@import url(http://fonts.googleapis.com/css?family=Average|Raleway:900,800,700,600,500,400,500,300,200,100);

$background-colour: #fff;
$font-colour: #000;
$tint-colour: #43A45E;
$title-fonts: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
$main-fonts: 'Average', Georgia, serif;

$mobile: new-breakpoint(max-width 650px 4);

body {
    font: 100% $main-fonts;
    color: $font-colour;

    h1,h2,h3,h4,h5,h6 {
        font-family: $title-fonts;
        text-transform: uppercase;
    }
    a {
        text-decoration: none;
        color: $tint-colour;
        &:hover {
            color: tint($tint-colour, 20%);
        }
    }

    background-color: $background-colour;
    margin: 20px;
}

.heading {
    @include outer-container;
    .title {
        @include span-columns(4);
        @include media($mobile) {
            @include span-columns(4);
        }

        font-size: 1.2em;
    }
    .nav {
        @include span-columns(8);
        @include media($mobile) {
            @include span-columns(4);
        }

        text-transform: uppercase;
        font: 1em $title-fonts;
    }
}

section {
    @include outer-container;

    padding-top: 5%;
    padding-bottom: 10%;

    aside,.date,header {
        @include span-columns(12);

        text-transform: uppercase;
        font-family: $title-fonts;
        text-align: center;

        h2 {
            font-size: 2.5em;
            font-weight: 700;
            margin: 2% 0 2% 0;

            @include media($mobile) {
                font-size: 1.5em;
            }
        }

        p {
            font-size: 0.8em;
            font-weight: 600;
            color: #777;
            //margin: 2% 0 2% 0;
        }

        @include media($mobile) {
            @include span-columns(4);

        }
    }
    article {
        @include span-columns(10);
        @include shift(1);
        @include media($mobile) {
            @include span-columns(4);
            @include shift(0);
        }

        font-size: 1.2em;
        padding-top: 5%;

        .thumbnail {
            height: auto;
            position: relative;
            overflow: hidden;
            background-color: $tint-colour;

            img {
                display: block;
                width: 100%;
                height: auto;
                margin: -20% auto;
            }
        }

        .summary {
            text-align: justify;
        }

        .more {
            font-family: $title-fonts;
            text-transform: uppercase;
        }
    }
}

footer {
    @include outer-container;
    .about {
        @include span-columns(8);
        @include shift(2);
        @include media($mobile) {
            @include span-columns(4);
            @include shift(0);
        }

        font: 0.6em $title-fonts;
    }
}
