//$visual-grid: true !default;
@import "reset";
@import "bourbon";
@import "neat";
@import "mixins";
@import url(http://fonts.googleapis.com/css?family=Average|Raleway:900,800,700,600,500,400,500,300,200,100);


$background-colour: #fff;
$font-colour: #000;
$tint-colour: #43A45E;
$title-fonts: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
$main-fonts: 'Average', Georgia, serif;

$tablet: new-breakpoint(max-width 800px 4);
$mobile: new-breakpoint(max-width 650px 4);

body {
    //font: 100% $main-fonts;
    font: 100% $title-fonts;
    color: $font-colour;

    h1,h2,h3,h4,h5,h6 {
        font-family: $title-fonts;
        text-transform: uppercase;
    }
    a {
        text-decoration: none;
        color: $tint-colour;
        &:hover {
            color: tint($tint-colour, 20%);
        }
    }

    background-color: $background-colour;
    margin: 20px;

    @include media($mobile) {
        p {
            font-size: 0.8em;
        }
    }
}

.heading {
    @include outer-container;

    @include align-items(center);
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(flex-start);

    .title {
        @include span-columns(10);
        @include flex(1);

        h1, a {
            font-size: 1.8em;
            color: $font-colour;
        }
        p {
            font-size: 1.5em;
        }

        @include media($mobile) {
            @include span-columns(3);

            h1, a {
                font-size: 1.5em;
            }
            p {
                font-size: 1.1em;
            }
        }
    }
    .avatar {
        @include span-columns(2);
        @include media($mobile) {
            //width: 0px;
            //height: 0px;
            //overflow: hidden;
            @include span-columns(1);
        }

        max-width: 5em;

        h1 {
            text-transform: uppercase;
            font: 1em $title-fonts;
        }

        img {
            display: block;
            width: 100%;
            height: auto;
            //margin-top: 1.34em;
            @include rounded(50em);
        }
    }
}

.nav {
    @include outer-container;

    position: relative;
    z-index: 1;
    //@include span-columns(10);
    //@include shift(2);
    //@include flex(1);

    //@include direction-context(right-to-left) {
        .list {
            font-size: 1.2em;
            text-align: right;
            ul {
                list-style-type: none;
            }
            a {
                color: #777;
                &:hover {
                    color: $tint-colour;
                }
            }
        }
    //}

    // @include media($mobile) {
    //     //width: 0px;
    //     //height: 0px;
    //     //overflow: hidden;
    //     @include span-columns(1);
    //     @include shift(0);
    // }
}

.page-title {
    @include outer-container;

    text-transform: uppercase;
    font-family: $title-fonts;
    text-align: center;

    h1 {
        @include span-columns(12);
        font-size: 2.5em;
        font-weight: 700;
        padding: 10% 0 2% 0;

        @include media($mobile) {
            font-size: 1.5em;
            padding: 5% 0 0 0;
        }
    }
}

section {
    @include outer-container;

    padding-top: 5%;
    padding-bottom: 10%;

    .post {
        @include span-columns(8);
        @include shift(2);
        @include media($tablet) {
            @include span-columns(4);
            @include shift(0);
        }
        @include media($mobile) {
            @include span-columns(4);
            @include shift(0);
        }

        header {
            @include span-columns(12);

            text-transform: uppercase;
            font-family: $title-fonts;
            text-align: center;

            h2 {
                font-size: 2.5em;
                font-weight: 700;
                margin: 2% 0 2% 0;

                @include media($mobile) {
                    font-size: 1.5em;
                }
            }

            .date,.categories {
                p,li {
                    font-size: 0.8em;
                    font-weight: 600;
                    color: #777;
                }
            }
            .categories {
                p,ul,li {
                    display: inline;
                }
                ul {
                    list-style-type: none;
                    padding: 0;

                    li {
                        &:not(:last-of-type) {
                            &:after {
                                content: ", ";
                            }
                        }
                    }
                }
            }

            @include media($tablet) {
                @include span-columns(4);
                @include shift(0);
            }
            @include media($mobile) {
                @include span-columns(4);
                @include shift(0);
            }
        }
        article {
            @include span-columns(12);
            @include media($tablet) {
                @include span-columns(4);
                @include shift(0);
            }
            @include media($mobile) {
                @include span-columns(4);
                @include shift(0);
            }

            font-size: 1.2em;
            padding-top: 5%;

            .thumbnail {
                /* image specified in separate class below */
                height: 200px;
                width: 100%;

                .thumb-img {
                    height: 100%;

                    /* lt ie8 */
                    -ms-background-position-x: center;
                    -ms-background-position-y: center;
                    background-position: center center;

                    /* scale bg image proportionately */
                    background-size: cover;

                    /* ie8 workaround - http://louisremi.github.io/background-size-polyfill/ */
                    -ms-behavior: url(/backgroundsize.min.htc);
                    /* prevent scaling past src width (or not) */
                    /* max-width: 1200px; */
                }

                @include media($mobile) {
                    height: 100px;
                }
            }

            .summary,.content {
                text-align: justify;

                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
                .video-player {
                    iframe {
                        width: 100%;
                    }
                }
            }

            .more {
                font-family: $title-fonts;
                text-transform: uppercase;
            }
        }
    } // end .post
}

footer {
    @include outer-container;
    font: 1em $title-fonts;

    .info {
        @include span-columns(8);
        @include shift(2);

        text-align: center;

        @include media($tablet) {
            @include span-columns(4);
            @include shift(0);
        }
        @include media($mobile) {
            @include span-columns(4);
            @include shift(0);
        }
    }
}
