{{ partial "header.html" . }}

<div class="page-title">
    <h1>{{ .Title }}</h1>
</div>

{{ range .Data.Pages }}
<section>
    <div class="post">
        <header>
            {{ if eq ( .Date.Format "January 02, 2006" ) "January 01, 0001" }}
            {{ else }}
            <div class="date">
                <p>{{ .Date.Format "January 02, 2006" }}</p>
            </div>
            {{ end }}

            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>

            {{ if isset .Params "categories" }}
            <div class="categories">
                <p>under: </p>
                <ul>

                    {{ range .Params.categories }}
                    <li><a class="post-category post-category-{{ . }}" href="/categories/{{ . | urlize }}">{{ . }}</a></li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}
        </header>

        <article>
            {{ if isset .Params "thumbnail" }}
            <div class="thumbnail">
                <div class="thumb-img" style="background-image: url({{ .Params.thumbnail }});"></div>
            </div>
            {{ end }}
            <div class="summary">
                <p>{{ .Summary }}</p>
                {{ if .Truncated }}
                <a href="{{ .RelPermalink }}" class="more">Read more…</a>
                {{ end }}
            </div>
        </article>
    </div><!-- end div .post -->
</section>
{{ end }}

{{ partial "footer.html" . }}
